/*

**/.*
**/.**
!.gitignore
!.github
!.vectorignore
*.log
*.bak

**/__pycache__/
**/target/
**/external/
**/out/

**/docs/**/

.ivaldi/

!README.md
!Cargo.lock
!Cargo.toml
!LICENSE
!LICENSE.md
!CHANGELOG.md
!requirements.txt
!Dockerfile
!Makefile
!docs
!ivaldi-cli/
!ivaldi-core/
!ivaldi-server/
!tests/
